body {
  background: #1F1C2F;
  color: #FFFFFF;
  margin: 0;
  /*
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Little visual flair */
#top-visual {
  width:100%;
  height: 0.25rem;
  background: #FF8665;
}

.nav-link {
  color: #FFFFFF;
}

.nav-link:hover {
  color: #FF8665 !important;
  transition: 0.3s;
}

.nav-link.active {
  color: #2D3338 !important;
  background-color: #FF8665 !important;
} 

.btn-outline-fire {
  border-color: #FF8665;
  color: #FF8665;
}

.btn-outline-fire:hover {
  background-color: #FF8665;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
